@model IEnumerable<Mvc_Practice6.Models.Department>
<br />
<br />
<button class="btn btn-primary btn-lg" id="OpenDialog1">
    Create New
</button>
<div id="dialog2" title="Create" style="text-align: left;display: none;">
    <div>
        Name:<input class="control-label" style="position: relative;left: 20px" type="text" id="DeptName" />
    </div>
    <br />
    <div>
        <input type="button" value="Create" class="btn btn-default" id="btn_save" onclick="DeptEntry()" />
    </div>
</div>

<div id="dialog3" title="Edit" style="text-align: left;display: none;">
    <div>
        Name:<input class="control-label" style="position: relative;left: 20px" type="text" id="DeptName1" />
    </div>
    <br />
    <div>
        <input type="button" value="Create" class="btn btn-default" id="btn_save" onclick="DeptEdit()" />
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a href="#" attr3='@Html.AttributeEncode(item.Id)' class="EditDept">Edit</a>|
                <a href="#" attr4='@Html.AttributeEncode(item.Id)' class="DeleteDept">Delete</a>            </td>
        </tr>
    }

</table>



    <script>
        $(function() {


            $("#dialog3").dialog({
                height: 300,
                width: 600,
                autoOpen: false,
                show: {
                    effect: "blind",
                    duration: 1000

                },
                hide: {
                    effect: "explode",
                    duration: 1000
                }
            });

            $("#dialog2").dialog({
                height: 300,
                width: 600,
                autoOpen: false,
                resizable: false,
                show: {
                    effect: "blind",
                    duration: 1000

                },
                hide: {
                    effect: "explode",
                    duration: 1000
                },


            });


            $("#OpenDialog1").click(function() {


                $("#dialog2").dialog("open");
            });


            $(".DeleteDept").click(function() {
                DeleteDept($(this));

            });
          
        });

        function DeleteDept(obj) {
            var id = obj.attr('attr4');

            $.ajax({
                url: "/Home/DeleteDept",
                type: "POST",
                data: { id: id },
                datatype: "json",
                success: function (data) {
                    alert("success");
                    var url = '@Url.Action("Index","Home")';
                    window.location.href = url;
                },
                error: function (data) {
                    alert("fail");
                }
            });
        }


        function DeptEdit() {
            var id = $(".EditDept").attr("attr3");
            var name = document.getElementById("DeptName1").value;
            $.ajax({
                url: "/Home/EditDept",
                type: "POST",
                data: { id: id, name: name },
                datatype: "json",
                success: function (data) {
                    alert("success");
                    var url = '@Url.Action("Index", "Home")';
                    window.location.href = url;
                },
                error: function (data) {
                    alert("fail");
                }
            });
        }
    </script>
